* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000095;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

a {
    color: #00000095;
}

ul {
    margin-bottom: 0;
}

hr {
    margin: 0;
}

.box-shadow {
    box-shadow: 2px 2px 10px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
}

.parrafo__mobile {
    margin: 0 1rem;
    font-size: 1.2rem;
}

/* HEADER */

.header__logo img {
    width: 150px;
    padding: 8px 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

.header__navs {
    display: none;
}

/* ---BURGER BOSSTRAP--- */

button img {
    width: 50px;
    height: 40px;
}

.header__burguer {
    place-self: center;
}

.btn {
    background-color: white;
    border: none;
}

#dropdownMenuButtonLight {
    background-color: white;
    border: none;
}

.dropdown-menu {
    font-size: 1.5rem;
    width: 25%;
}

.active {
    background-color: #bbbbbb50;
}

/* -------FOOTER-------- */

.footer {
    display: grid;
    grid-template-columns: 100vw;
}

.footer__titulos {
    grid-column: 1/2;
    background-color: #E8E7DD77;
}

h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: normal;

}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-bottom: 5px;
}

.footer__navs {
    display: none;
}

.divisor__hr--footer {
    width: 85vw;
    margin: 20px auto 20px auto;
}

.footer h3 {
    display: none;
}

.footer__media-icons ul {
    display: flex;
    justify-content: center;
    margin: 4vh;
    gap: 3vw;
}

.footer__media-icons img {
    width: 50px;
}

.footer__contact {
    display: none;
}

.footer hr {
    width: 80%;
    margin: 0 auto;
}

.footer__ubicacion {
    position: relative;
    padding-bottom: 5vh;
    grid-row: 2/3;
    background-color: #e8e7de95;
}

.footer__map-img--index {
    position: relative;
    width: 75%;
    border-radius: 251px;
    margin-left: 12.5%;
    margin-top: 3vh;
}

.footer__adress--index {
    text-align: center;
    position: absolute;
    left: 50vw;
    bottom: 22px;
}

.copyright--mobil {
    text-align: center;
    font-size: 0.7rem;
    background-color: #E8E7DD77;
    padding: 10px;
}

.copyright--desktop {
    display: none;
}

.footer__space--mobil {
    height: 3vh;
}

/* ======INDEX====== */

.index div {
    width: 100vw;
    overflow: hidden;
}

.index__img-principal--desktop {
    display: none
}

.index__img-principal--mobile {
    position: relative;
    left: -300px;
    height: 90vh;
    object-fit: cover;
    overflow: hidden;
}

/* ======NOSOTROS====== */

.nosotros__main {
    padding: 0px 7vw;
}

.nosotros__section {
    display: grid;
}

.nosotros__img {
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 16px;
}

.nosotros__img img {
    width: 86vw;
    margin: 0 auto;
}

.nosotros__parrafo {
    grid-row: 3/4;
    font-size: 1.2rem;
    text-align: start;
    margin-bottom: 60px;
}

.titulo__secundario {
    font-size: 3.5rem;
    text-align: center;
    font-weight: normal;
    padding-bottom: 0px;
    margin-bottom: 48px;
    margin-top: 48px;
}

.subtitulo__secundario {
    text-align: center;
    font-weight: 300;
}

/* =====LA HOSTERIA===== */
.hosteria__article {
    display: grid;
}

.hosteria__contenedor-img {
    width: 100vw;
}

.hosteria__contenedor-img img {
    width: 100%;
}

.hosteria__parrafo--host {
    margin: 32px 0px;
    text-align: left;
    font-size: 1.2rem;
}

.titulo__secundario--host {
    margin: 48px 20px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.titulo__secundario--host-espacios {
    width: 70%;
    margin: 0 auto 64px;
    line-height: 3.5rem;
    padding-bottom: 10px;
}

.habitaciones__parrafo {
    display: none;
}

.habitaciones__card {
    display: grid;
    grid-template-columns: 90vw;
    justify-content: center;
}

.habitaciones__card-servicios {
    width: 60%;
    margin: 2.5vh 0;
}

.servis {
    display: flex;
    justify-content: center;
}

.contenedor__full-width {
    width: 100vw;
}

.img__full-width {
    width: 100%;
}

.card__tittle {
    font-style: oblique;
    font-size: 1.8rem;
    font-weight: 100;
    margin: 8px;
}

.habitaciones__card-parrafo {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.espacios__figcaption {
    font-style: oblique;
    margin-left: 10px;
}

.img__last-mobile {
    margin-bottom: 64px;
}

.excursiones {
    margin-bottom: 80px;
}

.titulo__secundario--excur {
    margin: 0 40px 2rem;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.contenedor__video--youtube iframe {
    width: 100%;
    height: 30vh;
}

/* =====RESERVAS===== */

.reservas {
    width: 90vw;
    margin: 0 auto 80px auto;
}

.titulo__secundario--reservas {
    margin: 48px 0;
}

.reservas__form--mobile {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.form {
    border-radius: 4.5px;
    border-style: solid;
    height: 40px;
    width: 100%;
}

.reservas__form label {
    display: none;
}

.reservas__checkbox label {
    display: inline;
}

form .reservas__date {
    display: block;
}

.reservas__botones,
.reservas__checkbox {
    align-self: flex-end;
}

.boton {
    padding: 5px 8px;
    background-color: #007BFF;
    border: none;
    font-weight: 600;
    color: aliceblue;
    border-radius: 8px;
}

.boton:active {
    background-color: rgb(24, 100, 241);
}

/* =====UBICACION===== */

.footer__ubicacion--none {
    display: none;
}

.ubicacion {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    width: 90vw;
    /* height: 72vh; */
    margin: 0 auto;
}

.ubicacion__mapa--mobile {
    width: 100%;
    height: 100%;
    border-radius: 20px 190px 20px 190px;
}

.ubicacion__parrafo {
    text-align: center;
    margin-top: 16px;
    font-size: 1.2rem;
}

@media (min-width: 768px) {
    main {
        font-weight: 100;
    }

    .header__burguer {
        display: none;
    }

    /* =======INDEX====== */

    .index div {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: auto;
    }

    .index__img-principal--mobile {
        position: initial;
        object-fit: cover;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    /* =====NOSOTROS===== */

    /* ---HEADER--- */
    header,
    nav,
    .header__navs,
    .header__navs-pages {
        display: flex;
        align-items: center;
        list-style-type: none;
    }

    .header__hamburg {
        display: none;
    }

    header {
        justify-content: space-between;
    }

    .header__logo img {
        padding: 8px 16px;
    }

    .header__navs-lang ul {
        list-style: none;
        flex-direction: column;
        align-items: center;
    }

    .header__navs-pages li a,
    .header__navs-lang li a {
        text-decoration: none;
    }

    .header__navs-pages li {
        font-size: 1.4rem;
        list-style: none;
        background-size: 0px;
        border-radius: 5px;
        transition: font-size 3s, background 1s;
    }

    .header__navs-pages {
        gap: 13px;
    }

    .header__navs-pages li:hover {
        background-color: rgba(134, 124, 167, 0.314);
        border-radius: 5px;
    }

    .li-background {
        background-color: rgba(187, 187, 187, 0.314);
    }

    .header__navs-lang {
        padding-right: 16px;
    }

    /* ======LA HOSTERIA====== */

    .btn-primary {
        display: initial;
    }

    .hosteria__contenedor-img--mobile {
        display: none;
    }

    .hosteria__article {
        display: grid;
        justify-content: center;
        grid-template-columns: minmax(300px, 30vw) repeat(2, 30vw);
    }

    .hosteria__section--host {
        margin-top: 10vh;
    }

    .hosteria__article h2 {
        justify-self: center;
    }

    .hosteria__contenedor-img--main {
        width: 100%;
        grid-column: 2/4;
        justify-self: center;
        overflow: hidden;
    }

    .hosteria__contenedor-img--main img {
        object-fit: cover;
    }

    .hosteria__parrafo--host {
        grid-column: 2/4;
        width: 60vw;
    }

    .hosteria__parrafo--host p {
        font-size: 1.2rem;
        margin: 16px 0 8rem 0;
    }

    /* ---HABITACIONES--- */

    .habitaciones__parrafo {
        display: inline;
        align-self: center;
        margin: 0;
        width: 60%;
        font-size: 1.2rem;
    }

    .habitaciones__article--encabezado {
        display: flex;
        width: 90vw;
        justify-content: space-around;
        margin: 64px auto 48px auto;
    }

    .titulo__secundario--host {
        margin: 0;
        border: none;
    }

    .habitaciones__contenedor-card {
        display: grid;
        grid-template-columns: repeat(3, 30vw);
        margin-bottom: 8rem;
        justify-content: center;
        gap: 2vw;
    }

    .habitaciones__card {
        display: flex;
        flex-direction: column;
    }

    .contenedor__card--img img {
        width: 30vw;
    }

    .habitaciones__card {
        width: 100%;
        align-self: self-start;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }

    .contenedor__card--img {
        grid-row: 1/2;
    }

    /* ---ESPACIOS COMUNES--- */

    .espacios__parrafo {
        display: inline;
        margin: 32px 48px 0 0;
        font-size: 1.2rem;
    }

    .espacios {
        display: flex;
        width: 90vw;
        margin: 64px auto;
    }

    .espacios__encabezado {
        display: flex;
        flex-direction: column;
    }

    .espacios__galeria {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin-bottom: 8rem;
        width: 272%;
        column-gap: 32px;
    }

    /* ---COMIDAS--- */

    .comidas {
        display: grid;
        grid-template-columns: repeat(3, 25vw);
        grid-template-rows: repeat(2, 1fr);
        width: 90vw;
        margin: 0 auto 8rem auto;
        column-gap: 32px;
    }

    .comidas__encabezado {
        padding-left: 32px;
        grid-column: 3/4;
        grid-row: 1/3;
    }

    .img__last-mobile--espacios {
        grid-column: 2/3;
    }

    .img__anteultima {
        grid-column: 1/2;
    }

    .comidas__parrafo {
        margin: 0;
        font-size: 1.2rem;
    }

    /* ---EXCURSIONES--- */

    .excursiones {
        display: flex;
        justify-content: center;
        gap: 32px;
        margin-top: 128px;
    }

    .contenedor__video--youtube iframe {
        width: 560px;
        height: 315px;
    }

    .hosteria__parrafo--excur {
        width: 30vw;
        margin-left: 0;
        font-size: 1.2rem;
    }

    .titulo__secundario--excur {
        text-align: left;
        border: initial;
    }

    /* =====RESERVAS===== */

    .reservas {
        width: 90vw;
        margin: 0 auto;
    }

    .section-flex-res {
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
    }

    .img-reservas {
        background-image: url(../img/26.jpg);
        background-position: 39% 50%;
        background-size: 1700px;
        width: 554px;
        height: 560px;
    }

    .reservas__form--desktop {
        width: 40vw;
        justify-content: end;
        gap: 15px
    }

    .reservas__form {
        padding-top: 164px;
    }

    /* =====UBICACION===== */

    .ubicacion {
        width: 70vw;
    }

    /* =====FOOTER===== */

    .copyright--mobil {
        display: none;
    }

    .footer {
        display: flex;
        align-items: center;
    }

    .footer__titulos {
        display: none;
    }

    .footer ul,
    .footer a {
        list-style-type: none;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }

    .footer__navs {
        background-color: #E8E7DD95;
        width: 50vw;
        height: 270px;
        font-size: 1.188rem;
        display: flex;
    }

    /* --OBVIADO-- */
    .footer__navs .ul-nav {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-left: 30%;
        justify-content: center;
    }

    .footer__media-icons {
        width: 500px;
    }

    /* --OBVIADO-- */

    .footer__media-icons img {
        width: 45px;
    }

    .footer__media-icons ul {
        display: grid;
        align-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 5px;
        margin: 0;
    }

    .footer__media-icons--item {
        justify-self: end;
    }

    .footer__contact {
        display: block;
    }

    .footer__contact {
        background-color: #E8E7DD95;
        width: 621px;
        height: 270px;
        font-size: 1.188rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer__contact-list--index {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .bi {
        font-size: 1.8rem;
    }

    i span {
        vertical-align: middle;
    }

    .footer__ubicacion hr {
        display: none;
    }



    .footer__ubicacion {
        display: flex;
        position: unset;
        flex-direction: column;
        width: 648px;
        height: 270px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background-color: white;
        padding-bottom: 0;
    }

    .footer__map-index {
        position: unset;
        margin-top: 10px;
    }

    .footer__map-img--index {
        width: 80%;
        position: unset;
        /* margin-left: 18%; */
    }

    .footer__adress--index {
        position: unset;
    }

    .footer-map-img {
        border-radius: 251px;
        width: 200px;
    }


}

@media (min-width: 1612px) {

    /* ------HEADER------ */

    /* .header {
        margin-left: 3vw;
    } */

    .header__navs {
        gap: 50px;
    }

    .header__navs-pages {
        gap: 50px;
    }

    .header__navs-pages li {
        font-size: 2.5rem;
    }

    .header__navs-lang {
        margin-right: 0.5vw;
    }

    .header__logo img {
        width: 200px;
        height: 135px;
    }

    /* -------FOOTER------- */

    .footer__navs {
        background-color: #E8E7DD95;
        width: 347px;
        height: 299px;
        font-size: 1.188rem;
    }

    .footer__contact {
        width: 621px;
        height: 299px;
    }

    .footer__contact-list--index {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 1.5rem;
    }

    .footer__ubicacion {
        flex-direction: row;
        width: 648px;
        height: 299px;
        justify-content: center;
        align-items: center;
    }

    .footer__map-img--index {
        width: 320px;
        margin-top: 0;
        margin-right: 1rem;
    }

    .footer__adress--index {
        width: 220px;
        padding-right: 16px;
    }

    /* =====INDEX===== */

    .contenedor__full-width {
        display: none;
    }

    .index__img-principal--desktop {
        display: block;
        width: 100%;
        height: 100%;
        position: initial;
        object-fit: cover;
        overflow: hidden;
    }

    /* =====NOSOTROS===== */

    .nosotros__section {
        display: grid;
        grid-template-columns: 40vw 40vw;
        grid-template-rows: 1fr 3fr;
        grid-template-areas:
            "titulo foto"
            "parrafo foto";
        margin-top: 32px;
        margin-bottom: 70px;
        margin-left: 50px;
    }

    .nosotros__img {
        margin: 0;
        padding: 20px;
        width: 70%;
        grid-area: foto;
        justify-self: end;
    }

    .nosotros__img img {
        width: 100%;
    }

    .nosotros__parrafo {
        grid-area: parrafo;
    }

    .titulo__secundario--nosotros {
        text-align: left;
        font-size: 4rem;
        margin-bottom: 16px;
    }

    .subtitulo__secundario {
        text-align: left;
        font-size: 1.5rem;
        font-style: oblique;
    }

    /* ======LA HOSTERIA====== */

    .hosteria__contenedor-img--main {
        width: 100%;
        height: 560px;
        grid-column: 2/4;
        justify-self: center;
        overflow: hidden;
        position: relative;
    }

    .hosteria__contenedor-img--main img {
        object-fit: cover;
        position: absolute;
        bottom: -60px;
    }

    /* =====RESERVAS===== */

    .reservas__form {
        padding-top: 171px;
    }

    /* =====UBICACION===== */

    .ubicacion {
        width: 50vw;
    }

}