@keyframes rot55 {
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(0, 0, 0, 0.5843137255);
  box-sizing: border-box;
}

a {
  color: rgba(0, 0, 0, 0.5843137255);
  text-decoration: none;
}

ul,
ol {
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

hr {
  margin: 0;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2rem;
}

figure {
  margin: 0;
}

.subtitulo__secundario {
  text-align: center;
  font-weight: 300;
}

.contenedor__full-width {
  width: 100vw;
}

.img__full-width {
  width: 100%;
}

.parrafo__mobile {
  margin: 1rem 2rem;
  font-size: 1.2rem;
}

.box-shadow {
  box-shadow: 2px 2px 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: initial;
  flex-direction: row;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1;
}
.header__logo img {
  width: 150px;
  padding: 8px 20px;
}
.header__navs {
  display: none;
}
.header__burger {
  place-self: center;
}
.header__burger--img {
  width: 50px;
  height: 40px;
}

#dropdownMenuButtonLight {
  background-color: white;
  border: none;
}

.dropdown-menu {
  font-size: 1.5rem;
  width: 25%;
}

.active {
  background-color: rgba(232, 231, 221, 0.4666666667);
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: initial;
  }
  .header__burger {
    display: none;
  }
  .header__logo img {
    padding: 8px 16px;
  }
  .header__navs {
    display: flex;
    justify-content: inherit;
    align-items: center;
    flex-direction: inherit;
    gap: 30px;
  }
  .header__navs-pages {
    display: flex;
    justify-content: inherit;
    align-items: center;
    flex-direction: inherit;
    gap: 2px;
  }
  .header__navs-pages li {
    font-size: 1.2rem;
    background-size: 0px;
    border-radius: 5px;
    transition: font-size 3s, background 1s;
    padding: 8px;
  }
  .header__navs-pages li:hover {
    background-color: rgba(134, 124, 167, 0.314);
    border-radius: 5px;
  }
  .header__navs-lang ul {
    display: flex;
    justify-content: inherit;
    align-items: center;
    flex-direction: column;
    margin-right: 30px;
  }
}
@media (min-width: 992px) {
  .header__navs-pages li {
    font-size: 1.5rem;
    padding: 15px;
  }
}
@media (min-width: 1296px) {
  .header__navs-pages li {
    font-size: 2rem;
    padding: 23px;
  }
}
.footer {
  display: grid;
}
.footer__titulos {
  grid-column: 1/2;
  background-color: rgba(232, 231, 221, 0.4666666667);
}
.footer__titulos h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: normal;
  margin: 2rem;
}
.footer__titulos h2 {
  text-align: center;
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 2px;
  padding-bottom: 5px;
  margin: 0;
}
.footer__divisor {
  width: 85vw;
  margin: 20px auto;
}
.footer__navs {
  display: none;
}
.footer h3 {
  display: none;
}
.footer__media-icons ul {
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: inherit;
  gap: 3vw;
  margin: 4vh;
}
.footer__media-icons img {
  width: 50px;
}
.footer__contact {
  display: none;
}
.footer__ubicacion {
  padding-bottom: 5vh;
  grid-row: 2/3;
  background-color: rgba(232, 231, 221, 0.4666666667);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: initial;
}
.footer__ubicacion--none {
  display: none;
}
.footer__img {
  position: relative;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  animation: rot55 35s linear infinite;
}
.footer__map--index {
  filter: drop-shadow(10px 10px 10px grey);
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}
.footer__map--index2 {
  width: 202px;
  height: 202px;
  box-shadow: inset -10px -15px 30px 10px rgb(100, 100, 100);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.footer__adress--index {
  text-align: center;
  position: absolute;
  left: 40vw;
  font-size: 1.3rem;
  font-weight: 500;
  align-self: end;
  padding-left: 15px;
}
.footer__copyright--mobil {
  text-align: center;
  font-size: 0.7rem;
  background-color: rgba(232, 231, 221, 0.4666666667);
  padding: 10px;
}
.footer__copyright--desktop {
  display: none;
}

@media (min-width: 992px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr) mminmax(270, 1fr) 2fr;
    align-items: center;
  }
  .footer__copyright--mobil {
    display: none;
  }
  .footer__titulos {
    display: none;
  }
  .footer__navs {
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: inherit;
    background-color: rgba(232, 231, 221, 0.5843137255);
    height: 270px;
    font-size: 1.5rem;
  }
  .footer__navs ul {
    place-self: center;
  }
  .footer__media-icons img {
    width: 45px;
    vertical-align: middle;
  }
  .footer__media-icons ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
  }
  .footer__media-icons--item {
    justify-self: end;
  }
  .footer__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(232, 231, 221, 0.5843137255);
    height: 270px;
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
  .footer__ubicacion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    position: unset;
    height: 270px;
    background-color: white;
    padding-bottom: 0;
    grid-column: 4/5;
    grid-row: 1/2;
  }
  .footer__adress--index {
    position: unset;
    align-self: center;
  }
}
.index__img-principal--desktop {
  display: none;
}
.index__img-principal--mobile {
  position: relative;
  left: -371px;
  height: 90vh;
  object-fit: cover;
}
.index div {
  overflow: hidden;
}

@media (min-width: 992px) {
  .index__img-principal--mobile {
    display: none;
  }
  .index__img-principal--desktop {
    display: block;
  }
}
.nosotros {
  padding: 0px 7vw;
}
.nosotros__section {
  display: grid;
}
.nosotros__img {
  width: 86vw;
  margin: 0 auto;
  margin-bottom: 0.5rem;
}
.nosotros__img img {
  width: 100%;
}
.nosotros__parrafo {
  grid-row: 3/4;
  font-size: 1.2rem;
  text-align: start;
  margin-bottom: 60px;
}
.nosotros__titulo {
  font-family: "Alex Brush", cursive;
  font-size: 4.5rem;
  text-align: center;
  font-weight: normal;
  padding-bottom: 0px;
  margin-bottom: 48px;
  margin-top: 48px;
}
.nosotros__subtitulo {
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

@media (min-width: 992px) {
  .nosotros__section {
    display: grid;
    justify-content: center;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: "titulo foto" "parrafo foto";
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .nosotros__img {
    grid-area: foto;
    width: 70%;
  }
  .nosotros__titulo {
    text-align: start;
    margin: 0 4rem;
    line-height: unset;
  }
  .nosotros__subtitulo {
    text-align: start;
    margin: 0 4rem;
  }
  .nosotros__parrafo {
    grid-area: parrafo;
    margin: 0 4rem;
    line-height: 2.5rem;
  }
}
.hosteria h2 {
  font-family: "Alex Brush", cursive;
  font-size: 4.5rem;
  text-align: center;
  font-weight: normal;
  padding-bottom: 0px;
  margin-bottom: 48px;
  margin-top: 48px;
}

.habitaciones__contenedor-card {
  width: 90vw;
  margin: 0 auto;
}
.habitaciones__card {
  display: grid;
  grid-template-columns: 90vw;
  justify-content: center;
  margin-bottom: 1rem;
}
.habitaciones__card--servic {
  display: flex;
  justify-content: center;
  align-items: initial;
  flex-direction: initial;
}
.habitaciones__card--tittle {
  padding: 0.5rem;
  margin-bottom: 0;
  font-style: oblique;
  font-weight: 100;
}
.habitaciones__card--servic-img {
  width: 60%;
  margin: 2.5vh 0;
}
.habitaciones__card--parrafo {
  margin: 0 1rem 1rem 1rem;
}

.espacios__figcaption {
  font-style: oblique;
  margin-left: 10px;
}
.espacios h2 {
  line-height: 2.3rem;
}

.comidas img {
  margin-bottom: 20px;
}

.excursiones__video--youtube iframe {
  width: 100%;
  height: 30vh;
}

@media (min-width: 768px) {
  .hosteria__section {
    margin-top: 4rem;
    padding-bottom: 4rem;
  }
  .hosteria__article {
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(300px, 30vw) repeat(2, 30vw);
    grid-template-rows: 560px auto;
  }
  .hosteria__article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 2/span 2;
    grid-row: 1/2;
  }
  .hosteria__contenedor-img--mobile {
    display: none;
  }
  .hosteria__contenedor-img--main {
    width: 100%;
    height: 560px;
    grid-column: 2/4;
    place-self: end;
    overflow: hidden;
  }
  .hosteria__contenedor-img--main img {
    object-fit: cover;
    transform: translateY(-120px);
  }
  .hosteria__parrafo {
    grid-column: -3/-1;
  }
  .hosteria__parrafo--desktop {
    margin: 1rem 0 0 0;
  }
  .habitaciones {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .habitaciones__article--encabezado {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: inherit;
    width: 90vw;
    margin: 0 auto;
  }
  .habitaciones__contenedor-card {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    gap: 1vw;
    justify-content: center;
  }
  .habitaciones__card {
    display: unset;
  }
  .habitaciones__parrafo {
    width: 60vw;
    margin: 0;
  }
  .espacios {
    padding: 4rem;
    display: flex;
  }
  .espacios__encabezado {
    display: flex;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: column;
  }
  .espacios__galeria {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    justify-content: center;
    column-gap: 30px;
    row-gap: 10px;
  }
  .comidas {
    display: grid;
    gap: 20px;
    justify-content: center;
    grid-template-columns: repeat(3, 25vw);
    grid-template-rows: repeat(2, 1fr);
    padding: 4rem 0;
  }
  .comidas__encabezado {
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .comidas__figure--anteultima {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .comidas__figure--ultima {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .comidas img {
    margin-bottom: 0;
  }
  .excursiones {
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: inherit;
    gap: 32px;
    width: 75vw;
    margin: 0 auto;
    padding: 4rem;
  }
  .excursiones__video--youtube iframe {
    width: 560px;
    height: 315px;
  }
}
.reservas {
  width: 90vw;
  margin: 0 auto 80px auto;
}
.reservas__section {
  display: flex;
  justify-content: inherit;
  align-items: initial;
  flex-direction: column;
}
.reservas h2 {
  font-family: "Alex Brush", cursive;
  font-size: 4.5rem;
  text-align: center;
  font-weight: normal;
  padding-bottom: 0px;
  margin-bottom: 48px;
  margin-top: 48px;
}
.reservas__form--mobile {
  display: flex;
  justify-content: inherit;
  align-items: initial;
  flex-direction: column;
  gap: 16px;
}
.reservas__form .display-none {
  display: none;
}
.reservas .form {
  border-radius: 4.5px;
  border-style: solid;
  height: 40px;
  width: 100%;
}
.reservas__botones, .reservas__checkbox {
  align-self: flex-end;
}
.reservas .boton {
  padding: 5px 8px;
  background-color: #007BFF;
  border: none;
  font-weight: 600;
  color: aliceblue;
  border-radius: 8px;
}
.reservas .boton:active {
  background-color: rgb(24, 100, 241);
}

@media (min-width: 992px) {
  .reservas__section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
  }
  .reservas__titulo {
    display: flex;
    justify-content: start;
    align-items: initial;
    flex-direction: column;
  }
  .reservas__img {
    background-image: url(../img/26.jpg);
    background-position: 39% 50%;
    background-size: 1700px;
    width: 554px;
    height: 560px;
  }
  .reservas__form {
    width: 40vw;
    margin-top: 160px;
  }
}
.ubicacion {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  width: 90vw;
  margin: 0 auto;
}
.ubicacion__mapa--mobile {
  width: 100%;
  height: 100%;
  border-radius: 20px 190px 20px 190px;
}
.ubicacion__parrafo {
  text-align: center;
  margin-top: 16px;
  font-size: 1.2rem;
}

h2 {
  font-family: "Alex Brush", cursive;
  font-size: 4.5rem;
  text-align: center;
  font-weight: normal;
  padding-bottom: 0px;
  margin-bottom: 48px;
  margin-top: 48px;
}

@media (min-width: ) {
  .ubicacion {
    grid-template-rows: 1fr 3fr 1fr;
    width: 50vw;
  }
  .footer__ubicacion--ubic {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer__ubicacion--none {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
