* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000095;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

a {
    color: #00000095;
}

ul {
    margin-bottom: 0;
}

hr {
    margin: 0;
}

$box-shadow: 2px 2px 10px;
