$footer-color: #E8E7DD77;
$margen-main: 4rem;

@font-face {
    font-family: dearJoe;
    src: url(./fonts/dearJoe1.ttf);
}

$break: (
    tablet: 768px,
    inter: 992px,
    desktop: 1296px,
);

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin titulo__secundario {
    font-family: 'Alex Brush', cursive;
    font-size: 4.5rem;
    text-align: center;
    font-weight: normal;
    padding-bottom: 0px;
    margin-bottom: 48px;
    margin-top: 48px;
}

@keyframes rot55 {
    to {
        transform: rotate(360deg);
    }
}

@mixin clipped {
    clip: rect(0 0 0 0);
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    display: block;
    margin: 0 -1px -1px 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: -1;
    }

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #00000095;
    box-sizing: border-box;
}

a {
    color: #00000095;
    text-decoration: none;
}

ul,
ol {
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
}

hr {
    margin: 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
}

figure {
    margin: 0;
}

.subtitulo__secundario {
    text-align: center;
    font-weight: 300;
}

.contenedor__full-width {
    width: 100vw;
}

.img__full-width {
    width: 100%;
}

.parrafo__mobile {
    margin: 1rem 2rem;
    font-size: 1.2rem;
}

.box-shadow {
    box-shadow: 2px 2px 5px;
}

.contenedor__full-widt {
    width: 100%;
}