@import "./base";
@import "./layout/header";
@import "./layout/footer";
@import "./components/cards";

@import "./pages/index";
@import "./pages/nosotros";
@import "./pages/la-hosteria";
@import "./pages/reservas";
@import "./pages/ubicacion";
