.index {
    &__img-principal {

        &--desktop {
            display: none;
        }

        &--mobile {
            position: relative;
            left: -371px;
            height: 90vh;
            object-fit: cover;
        }
    }

    & div {
        overflow: hidden;
    }
}

@media (min-width: map-get($break, "inter")){

    .index {
        &__img-principal {

            &--mobile {
                display: none;
            }

            &--desktop {
                display: block;
            }
        }
    }
}

