.hosteria h2 {
    @include titulo__secundario;
}

.habitaciones {
    &__contenedor-card {
        width: 90vw;
        margin: 0 auto;
        overflow: hidden;
    }

    &__card {
        display: grid;
        grid-template-columns: 90vw;
        justify-content: center;
        margin-bottom: 1rem;

        &--servic {
            @include flex(center, initial, initial);
        }

        &--tittle {
            padding: 0.5rem;
            margin-bottom: 0;
            font-style: oblique;
            font-weight: 100;
        }

        &--servic-img {
            width: 60%;
            margin: 2.5vh 0;
        }

        &--parrafo {
            margin: 0 1rem 1rem 1rem;
        }
    }
}

.espacios {

    &__figcaption {
        font-style: oblique;
        margin-left: 10px;
    }

    h2 {
        line-height: 2.3rem;
    }
}

.comidas {
    & img {
        margin-bottom: 20px;
    }
}

.excursiones__video--youtube iframe {
    width: 100%;
    height: 30vh;
}

@media (min-width:map-get($break, "tablet")) {

    .hosteria {

        &__section {
            margin-top: $margen-main;
            padding-bottom: $margen-main;
        }

        &__article {
            display: grid;
            justify-content: center;
            grid-template-columns: minmax(300px, 30vw) repeat(2, 30vw);
            grid-template-rows: 560px auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                grid-column: 2/span 2;
                grid-row: 1/2;
            }

        }

        &__contenedor-img {
            &--mobile {
                display: none;
            }


            &--main {
                width: 100%;
                height: 560px;
                grid-column: 2/4;
                place-self: end;
                overflow: hidden;

                & img {
                    object-fit: cover;
                    transform: translateY(-120px);
                }
            }
        }

        &__parrafo {
            grid-column: -3/-1;

            &--desktop {
                margin: 1rem 0 0 0;
            }
        }
    }

    .habitaciones {
        margin-top: $margen-main;
        margin-bottom: $margen-main;

        &__article {
            &--encabezado {
                @include flex(space-around, center, inherit);
                width: 90vw;
                margin: 0 auto;
            }
        }

        &__contenedor-card {
            display: grid;
            grid-template-columns: repeat(3, 30vw);
            gap: 1vw;
            justify-content: center;
        }

        &__card {
            display: unset;
            // grid-template-columns: 100%;
        }

        &__parrafo {
            width: 60vw;
            margin: 0;
        }
    }

    .espacios {
        padding: $margen-main;
        display: flex;
        

        &__encabezado {
            @include flex(inherit, inherit, column);
        }

        &__galeria {
            display: grid;
            grid-template-columns: repeat(2, 30vw);
            justify-content: center;
            column-gap: 30px;
            row-gap: 10px;
        }
    }

    .comidas {

        display: grid;
        gap: 20px;
        justify-content: center;
        grid-template-columns: repeat(3, 25vw);
        grid-template-rows: repeat(2, 1fr);
        padding: $margen-main 0;

        &__encabezado {
            grid-column: 3/4;
            grid-row: 1/3;
        }

        &__figure {
            &--anteultima {
                grid-column: 1/2;
                grid-row: 2/3;
            }

            &--ultima {
                grid-column: 2/3;
                grid-row: 2/3;
            }
        }
        & img {
            margin-bottom: 0;
        }
    }

    .excursiones {
        @include flex(center, initial, inherit);
        gap: 32px;
        width: 75vw;
        margin: 0 auto;
        padding: $margen-main;

        &__video--youtube {
            & iframe {
                width: 560px;
                height: 315px;
            }
        }
        h2 {
            margin-top: 0;
        }
    }
}