.hosteria h2 {
    font-family: 'Alex Brush', cursive;
    font-size: 4.5rem;
    line-height: 2.3rem;
    // text-shadow: 1px 3px 8px;
    // text-decoration: underline 1px;
}

.habitaciones {
    &__contenedor-card {
        width: 90vw;
        margin: 0 auto;
    }

    &__card {
        display: grid;
        grid-template-columns: 90vw;
        justify-content: center;
        margin-bottom: 1rem;

        &--servic {
            display: flex;
            justify-content: center;
        }

        &--tittle {
            padding: 0.5rem;
            margin-bottom: 0;
            font-style: oblique;
            font-weight: 100;
        }

        &--servic-img {
            width: 60%;
            margin: 2.5vh 0;
        }

        &--parrafo {
            margin: 0 1rem 1rem 1rem;
        }
    }
}

.espacios {

    &__figcaption {
        font-style: oblique;
        margin-left: 10px;
    }
}

.contenedor__video--youtube iframe {
    width: 100%;
    height: 30vh;
}

@media (min-width: $breakpoint1) {

    .hosteria {

        &__article {
            display: grid;
            justify-content: center;
            grid-template-columns: minmax(300px, 30vw) repeat(2, 30vw);
            grid-template-rows: 560px auto;
            margin-top: $margen-main;
            margin-bottom: $margen-main;
        }

        &__contenedor-img {
            &--mobile {
                display: none;
            }


            &--main {
                width: 100%;
                height: 560px;
                grid-column: 2/4;
                align-self: end;
                overflow: hidden;
                position: relative;


                & img {
                    object-fit: cover;
                    position: absolute;
                    bottom: -60px;
                }
            }
        }

        &__parrafo {
            grid-column: -3/-1;

            &--desktop {
                margin: 1rem 0 0 0;
            }
        }
    }
}