.ubicacion {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    width: 90vw;
    margin: 0 auto;

    &__mapa {
        &--mobile {
            width: 100%;
            height: 100%;
            border-radius: 20px 190px 20px 190px;
        }
    }

    &__parrafo {
        text-align: center;
        margin-top: 16px;
        font-size: 1.2rem;
    }
}

h2 {
    @include titulo__secundario;
}

@media (min-width:map-get($break, "Inter")) {

    .ubicacion {
        grid-template-rows: 1fr 3fr 1fr;
        width: 50vw;

    }

    .footer {
        &__ubicacion {

            &--ubic {
                grid-template-columns: repeat(3, 1fr);
            }

            &--none {
                display: none;
            }
        }
    }
}