.header {
    @include flex(space-between, initial, row);
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;

    &__logo img {
        width: 150px;
        padding: 8px 20px;
    }

    &__navs {
        display: none;
    }

    &__burger {
        place-self: center;

        &--img {
            width: 50px;
            height: 40px;
        }
    }
}

#dropdownMenuButtonLight {
    background-color: white;
    border: none;
}

.dropdown-menu {
    font-size: 1.5rem;
    width: 25%;
}

.active {
    background-color: $footer-color;
}


@media (min-width: $breakpoint1) {

    .header {
        @include flex(space-between, center, initial);

        &__burger {
            display: none;
        }

        &__logo img {
            padding: 8px 16px;
        }

        &__navs {
            @include flex(inherit, center,inherit);
            gap: 30px;

            &-pages {
                @include flex(inherit, center,inherit);
                gap: 2px;

                & li {
                    font-size: 1.2rem;
                    background-size: 0px;
                    border-radius: 5px;
                    transition: font-size 3s, background 1s;
                    padding: 25px;

                    &:hover {
                        background-color: rgba(134, 124, 167, 0.314);
                        border-radius: 5px;
                    }
                }
            }

            &-lang ul {
                @include flex(inherit, center, column);
                margin-right: 30px;
            }
        }
    }
}

@media (min-width: 1296px) {
    .header__navs-pages li {
        font-size: 2rem;
    }
}

// .index__img-principal {
//         &--mobile {
//             display: none;
//         }

//         &--desktop {
//             display: inline-block;
//             width: 100%;
//         }
//     }